<?xml version="1.0"?>
<ruleset
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>
    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>
    <arg name="colors"/>

    <arg value="nps"/>

    <file>./bin</file>
    <file>./src</file>
    <file>./test</file>

    <rule ref="Doctrine">
        <!-- 
        PHPCS doesn't currently understand the first-class callable syntax introduced in PHP 8.1.
        See https://wiki.php.net/rfc/first_class_callable_syntax
        -->
        <exclude name="SlevomatCodingStandard.PHP.OptimizedFunctionsWithoutUnpacking.UnpackingUsed"/>
        
        <!--
        we use the {@see Type} syntax to reference symbols and make them "clickable" for workshop
        attendees. While cleaning up unused imports is nice, PHPCS does not understand {@see Type}
        related imports.
        -->     
        <exclude name="SlevomatCodingStandard.Namespaces.UnusedUses.UnusedUse"/>
    </rule>
</ruleset>
